/* Tools.css */

.tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .tool-link {
    margin: 10px;
    display: block; 
  }
  
  .tool-image {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease; /* Add smooth transition effect */
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .tool-image {
      width: 150px;
    }
  }

.tool {
  margin: 20px; /* Add margin around each tool */
  text-align: center; /* Center-align tool and description */
}


.tool-image:hover {
  transform: scale(1.1); /* Scale image to 110% on hover */
}

.tool-description {
  margin-top: 10px; /* Add space between image and description */
}

