.WQI {
    font-family: Arial, sans-serif;
    max-width: 770px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  .learn-more {
    display: block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .parameter-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border-color: #333;
    /* margin-bottom: 20px; */
  }
  
  .parameter {
    margin-right: 10px;
    margin-left: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 10px;
    background-color: #866565;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .parameter label {
    font-weight: bold;
  }
  
  .parameter input {
    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .parameter-range {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #ffffff;
    background: linear-gradient(to right, green, yellow, orange, red);
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
  }
  
  .parameter-range .min,
  .parameter-range .max {
    /* background-color: #fff; */
    padding: 2px 5px;
    border-radius: 4px;
  }
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .submit-button,
  .reset-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .reset-button {
    background-color: #ccc;
    color: #333;
  }
  
  .water-quality-index {
    font-weight: bold;
    margin-bottom: 10px;
  }
/*   
  .quality-levels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
  }
  
  .excellent {
    color: green;
  }
  
  .good {
    color: lightgreen;
  }
  
  .average {
    color: yellow;
  }
  
  .fair {
    color: orange;
  }
  
  .poor {
    color: red;
  }
   */
   .quality-levels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin-top: 20px;
  }
  
  .quality-level {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .quality-level-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  
  .excellent .quality-level-box {
    background-color: green;
  }
  
  .good .quality-level-box {
    background-color: lightgreen;
  }
  
  .average .quality-level-box {
    background-color: yellow;
  }
  
  .fair .quality-level-box {
    background-color: orange;
  }
  
  .poor .quality-level-box {
    background-color: red;
  }